:root {
    --header-nav-text-colour: #212121;
    --header-nav-hover-color: #2196F3;
    --header-contacts-colour: #757575;
    --header-contacts-hover-colour: #2196F3;
    --main-title-color: #ffffff; 
    --main-button-colour-text: #FFFFFF;
    --second-title-colour: #212121;
    --third-title-colour: #212121;
    --regular-text-colour: #757575;
    --button-bg-colour: #2196F3;
    --main-background: #2F303A;
    --second-background: #F5F4FA;
    --footer-background: #2F303A;
    --filters-button-bg: #F5F4FA;
    --footer-contacts:rgba(255, 255, 255, 0.6);
    --main-team-bg: #ffffff;
    --filters-button-text: #212121;
    --portfolio-bg-color: #FFFFFF;
    --portfolio-title: #212121;
    --portfolio-text: #757575;

}

body {
    font-family: Roboto , sans-serif;
    background-color: #fff;
    color: #212121;
}

.list {
    list-style: none;
}
.link {
    text-decoration: none;
}

/* header logo */
.header-logo {
font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: #2196F3;
}
.header-logo-part {
    color: #000000;
}

/* header nav list */

.header-item-link {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--header-nav-text-colour);
}
.header-item-link:hover {
    color: var(--header-nav-hover-color);
}
.header-item-link:focus {
    color: var(--header-nav-hover-color);
}

/* header contacts */

.header-contacts-link {
    color: var(--header-contacts-colour);   
}
.header-contacts-link:hover {
    color: var(--header-contacts-hover-colour);
}
.header-contacts-link:focus {
    color: var(--header-contacts-hover-colour);
}

/* main section */
.main-section {
    background-color:var(--main-background) ;
}
.main-section-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-title-color)
}
.main-section-button {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--main-button-colour-text);
    background-color: var(--button-bg-colour);
    cursor: pointer;
}
/* second main */
.second-main-title {
    display: none;
}
.second-main-item-title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--second-title-colour);
}
.second-main-item-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--regular-text-colour); 
}
/* third main */
.third-main-title {

    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-title-colour);
}
/* main team */
.main-team {
    background-color: var(--second-background);
}
.main-team-title {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--third-title-colour);
}
.main-team-item {
    background-color: var(--main-team-bg);
}
.main-team-item-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--third-title-colour);
}
.main-team-item-text {
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--regular-text-colour)
}
/* Footer */
.footer {
    background-color: var(--footer-background);
}
/* footer logo */
.footer-logo {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
}
.footer-logo-part {
    color: #fff;
}
.footer-addres-link-add {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.footer-addres-link {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--footer-contacts);
}
/* prtfolio filters */
.main-portfolio-filter-item-button {
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--filters-button-text);
    background-color: var(--filters-button-bg);
    border-radius: 4px;
    cursor: pointer;
}
.main-portfolio-filter-item-button:hover {
    background-color: var(--button-bg-colour);
    color: var(--main-button-colour-text);
}
.main-portfolio-filter-item-button:focus {
    background-color: var(--button-bg-colour);
    color: var(--main-button-colour-text);
}

/* projects portfolio */

.potfolio-projects-item {
    background: var(--portfolio-bg-color);
    border: 1px solid #EEEEEE;
    box-sizing: border-box  
}
.potfolio-projects-item-title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--portfolio-title);
}
.potfolio-projects-item-text {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--portfolio-text);
}

